<template name="genreMap">

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Genres</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        {{#if brushIs 'select'}}
            {{>banBrush}}
        {{else}}
            {{>selectBrush}}
        {{/if}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="padding"}}
            <div style="position: absolute;">
                <div id="circles" style="">
                    {{#each circles}}
                        <div id="{{metaId}}" class="circle {{status metaId}}"><span class="title">{{{name}}}</span></div>
                    {{/each}}
                </div>
            </div>

            <canvas id="lower" class="absolute"></canvas>
            <canvas id="upper" class="absolute"></canvas>
        {{/ionContent}}
    {{/ionView}}

</template>

<template name="selectBrush">
    <button class="buttons button button-clear back-button pull-right"><i class="icon ion-thumbsup"></i></button>
</template>

<template name="banBrush">
    <button class="buttons button button-clear back-button pull-right"><i class="icon ion-thumbsdown"></i></button>
</template>