<template name="playlists">
    {{#ionContent}}
        <div class="row">
            <div class="col s12">
                {{#contentFor "headerTitle"}}
                    <h1 class="title">Playlists</h1>
                {{/contentFor}}

                <ul class="collection with-header">
                    {{#ionList class="my-class"}}
                        {{#each playlists}}
                            {{#ionItem path="playlist" buttonRight=true class="item-icon-right"}}
                                {{name}}
                                {{> ionIcon icon="ios-arrow-forward" class="positive"}}
                            {{/ionItem}}
                        {{/each}}
                    {{/ionList}}
                </ul>

                <button id="newPlaylist" class="button button-full button-positive">
                    New playlist
                </button>
            </div>
        </div>
    {{/ionContent}}
</template>

<template name="playlistItem">
    <h2>{{name}}</h2>
</template>