<template name="playlists">
    {{#ionContent}}
        <div class="row">
            <div class="col s12">
                {{#contentFor "headerTitle"}}
                    <h1 class="title">Playlists</h1>
                {{/contentFor}}

                {{#contentFor "headerButtonRight"}}
                    {{>newPlaylistButton}}
                {{/contentFor}}

                <ul class="collection with-header">
                    <div style="text-align: center;">
                        <img src="/logo.png" style="max-width: 100%; padding: 20px;" />
                    </div>
                    {{#ionList class="my-class"}}
                        {{#if playlists.length}}
                            {{#each playlists}}
                                {{#ionItem path="playlist" buttonRight=true class="item-icon-right"}}
                                    {{name}}
                                    {{> ionIcon icon="ios-arrow-forward" class="positive"}}
                                {{/ionItem}}
                            {{/each}}
                        {{else}}
                            {{>loading noMargin=true}}
                        {{/if}}
                    {{/ionList}}
                </ul>

                <button id="newPlaylist" class="button button-full button-positive">
                    New playlist
                </button>
            </div>
        </div>
    {{/ionContent}}
</template>

<template name="playlistItem">
    <h2>{{name}}</h2>
</template>

<template name="newPlaylistButton">
    <button class="buttons button button-clear pull-right"><i class="icon ion-plus"></i></button>
</template>