<template name="playlist">

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">{{playlist.name}}</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <a href="/filters" class="buttons button button-clear back-button pull-right" id="done">Edit</a>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#if songs.length}}
                    {{#each songs}}
                        {{#ionItem path="song" buttonRight=true class="item-icon-right"}}
                            {{song}}
                            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
                        {{/ionItem}}
                    {{/each}}
                {{else}}
                    {{>loading}}
                {{/if}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>