<template name="timeline">

    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Moods</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        {{#if brushIs 'select'}}
            {{>banBrush}}
        {{else}}
            {{>selectBrush}}
        {{/if}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent class="padding"}}
            <div id="canvasContainer" style="position: absolute; height: 100%; width: 100%;">
                <div id="circles" style="height: 100%; width: 100%;">
                    {{#each timeline}}
                        <div id="{{this}}" style="height: {{#if isShort this}}5{{else}}9{{/if}}%; border-bottom: 1px solid black;">
                            {{this}}
                        </div>
                    {{/each}}
                </div>
            </div>

            <canvas id="lower" class="absolute"></canvas>
            <canvas id="upper" class="absolute"></canvas>
        {{/ionContent}}
    {{/ionView}}

</template>