<template name="uses">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
      <h1 class="title">Uses</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if brushIs 'select'}}
      {{>banBrush}}
    {{else}}
      {{>selectBrush}}
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
        <div id="canvasContainer" style="position: absolute;">
            <div id="circles" style="">
              {{#each uses}}
                  <div style="width: 29%; height: 24%; padding: 20px; margin: 2%; float: left; text-align: center;" class="mood-item {{status metaId}}" id="{{metaId}}">
                      <img style="width: 100%" src="/icons/uses/{{icon}}" />
                      <h2 class="title" style="margin-top: 0; font-size: 12px;">{{name}}</h2>
                  </div>
              {{/each}}
            </div>
        </div>

        <canvas id="lower" class="absolute"></canvas>
        <canvas id="upper" class="absolute"></canvas>
    {{/ionContent}}
  {{/ionView}}
</template>