.absolute {position:absolute; top:30px;}

.circle {
  text-align: center;
  position: relative;
  border: 2px solid #42a5f5;
  float: left;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-left: -25px;
    margin-top: -8px;
  }

  &.w1 {
    width: 200px;
    height: 100px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
  }

  &.w2 {
    width: 140px;
    height: 140px;
    @include border-radius(140px);
  }

  &.w3 {
    width: 150px;
    height: 75px;
    -moz-border-radius: 75px / 37px;
    -webkit-border-radius: 75px / 37px;
  }
}

#circleJazz {
  width: 180px;
  height: 180px;
  @include border-radius(180px);
  border: 3px solid cyan;
  
}

#circleRock {
  width: 450px;
  height: 450px;
  @include border-radius(450px);
  border: 3px solid red;
}

#circlePop {
  width: 150px;
  height: 75px;
  -moz-border-radius: 75px / 37px;
  -webkit-border-radius: 75px / 37px;
  border: 3px solid green;
  
}

#circleClassical {
  width: 170px;
  height: 170px;
  @include border-radius(170px);
  border: 3px solid orange;
  
}

#circleMetal {
  width: 170px;
  height: 170px;
  @include border-radius(170px);
  border: 3px solid orange;
  
}

#circleRap {
  width: 170px;
  height: 170px;
  @include border-radius(170px);
  border: 3px solid orange;
  
}
